// 全局样式变量
$primary-color: #07c160;
$danger-color: #f56c6c;
$warning-color: #e6a23c;
$success-color: #67c23a;
$info-color: #909399;

$bg-color: #f5f7fa;
$border-color: #e4e7ed;
$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;
